<%- include header.ejs %>
         <div id="mobile-header" class="mobile-header-v1">
            <div class="container">
               <div class="sixteen columns">
                  <div id="mobile-logo" class="logo">
                     <a href="index.html"><img src="img/USP-Logo-4.png" alt="logo"></a>
                  </div>
                  <a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
               </div>
            </div>
         </div>
         <div id="mobile-navigation">
            <div class="container">
               <div class="sixteen columns">
                  <div class="menu-top-menu-container">
                     <ul id="mobile-nav" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="about-us.html">About</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="faqs.html">FAQs</a></li>
                     </ul>
                  </div>
               
                  <form method="post" id="submit_search" class="header_submit_serach">
                     <div>
                        <input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" class="search_query_header" >
                     </div>
                     <div class="phone_result header_phn_result "> </div>
                  </form>
               </div>
            </div>
         </div>
         <div id="fulltitle" class="titlebar">
				<div class="container">
					<div id="title" class="ten columns">
						<h1>About</h1>
					</div>
					<div id="breadcrumbs" class="six columns">
						<div id="crumbs"><a href="../index.html">US Phone Number Lookup</a> / <span class="current">About</span></div>					</div>
				</div>
			</div>
         <div class="container"  >
            <div id="content" class="sixteen columns">
	
               <div class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" style=""><div class="col span_12 color-dark left">
            <div class="vc_col-sm-8 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
               <div class="wpb_wrapper">
                  <h2 class="headline font-inherit fontsize-l fontweight-700 lh-inherit align-left transform-inherit " style="margin: 10px 0 5px 0;">About U.S. Phone Number Lookup</h2>
            <div class="wpb_text_column wpb_content_element ">
               <div class="wpb_wrapper">
                  <p>U.S. Phone Number Lookup is a website dedicated to helping people research telephone numbers that may have called them. Our data is pulled directly from relevant, public sources. Our goal is to make sure vistors are armed with the most accurate, relevant information on callers.</p>
         
               </div>
            </div>
         
               </div> 
            </div> 
         
            <div class="vc_col-sm-4 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
               <div class="wpb_wrapper">
                  <h2 class="headline font-inherit fontsize-l fontweight-700 lh-inherit align-left transform-inherit " style="margin: 10px 0 5px 0;">Top Searches Today</h2><div class="custom_shortcode"><div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
                          <div class="wpb_wrapper">
                           <div class="caller-id-sidebar">
                                 <div class="sidebar-detail-title">
         
                                 </div>
                            <div class="searches-result">
                                     <ul>
                                       <% if ( typeof(random) !='undefined') { %>
                                          <% random.forEach(function(Result) { %>
                                             <li><a href="/<%=Result.companynumber  %>"> <span class="customPhonenno"><%=Result.companynumber %></span></a></li>

                                             <% }) } %>
                                              </ul>
                               </div>
                                 </div>
                               </div>
                        </div></div><div class="divider divider4" style="margin:15px 0 15px 0 !important;"></div>
               </div> 
            </div> 
         </div></div>
         
               
               
                  </div>
            <!-- end content -->
         </div>
         <!-- end page-wrap -->
         <%- include footer.ejs %>