<div id="copyright" class="clearfix">
    <div class="container">
       <div class="sixteen columns">
          <div class="copyright-text copyright-col1">
             Copyright © 2019-2020 US Phone Number Lookup. All Rights Reserved.
             The information contained on this website is gathered from publicly available sources and is provided to you on an "as-is" basis, and may not be accurate, complete or up to date. You should not use the information contained on this website for any purpose under the Fair Credit Reporting Act ("FCRA"), codified at 15 USC 1681 et seq. You agree that you will not use any information contained on this website to make any decisions about any consumer credit, employment, tenant screening, or any other purpose that would require FCRA compliance. 
          </div>
          <div class="copyright-col2">
             <div class="menu-footer-menu-container">
                <ul id="menu-footer-menu" class="menu">
                   <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="#">Terms of Use</a></li>
                   <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-37"><a href="#">Privacy Policy</a></li>
                   <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="#">Number Removal</a></li>
                   <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="#">Contact Us</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end copyright -->
</div>
<!-- end wrapall / boxed -->
<div id="back-to-top"><a href="#"><i class="fa fa-chevron-up"></i></a></div>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="http://code.jquery.com//jquery-1.12.4.js"></script>
<script src="../javascripts/vc-accordion.js"></script>
<script src="http://code.jquery.com//ui/1.12.1/jquery-ui.js"></script>
<script>
  $("#mobile-navigation-btn").click(function(){
$("#mobile-navigation").toggleClass("view");
});
</script>

<script>
//      $(function(){
//       $.ajax({
//      type: "POST",
//      url: "/totalrecords",
//      data: {'product_id': 'check'},
//     success: function(r){
//   var totoalrecords= r['total'];

//   for(var i=0; i<2; i++){
//    $.ajax({
//      type: "POST",
//      url: "/getalldata",
//      data: {'Offsetcount': i},
//     success: function(r){

//    //  alert(r);

//      }

//  });
//   }


//      }

//  });
//      })
</script>
  <div id="pum-109" style="display: none;" class="pum pum-overlay pum-theme-104 pum-theme-lightbox popmake-overlay pum-click-to-close auto_open click_open pum-active" data-popmake="{&quot;id&quot;:109,&quot;slug&quot;:&quot;full-popup&quot;,&quot;theme_id&quot;:104,&quot;cookies&quot;:[],&quot;triggers&quot;:[{&quot;type&quot;:&quot;auto_open&quot;,&quot;settings&quot;:{&quot;cookie_name&quot;:&quot;&quot;,&quot;delay&quot;:&quot;1500&quot;}},{&quot;type&quot;:&quot;click_open&quot;,&quot;settings&quot;:{&quot;extra_selectors&quot;:&quot;&quot;,&quot;cookie_name&quot;:null}}],&quot;mobile_disabled&quot;:null,&quot;tablet_disabled&quot;:null,&quot;meta&quot;:{&quot;display&quot;:{&quot;stackable&quot;:false,&quot;overlay_disabled&quot;:false,&quot;scrollable_content&quot;:false,&quot;disable_reposition&quot;:false,&quot;size&quot;:&quot;small&quot;,&quot;responsive_min_width&quot;:&quot;0%&quot;,&quot;responsive_min_width_unit&quot;:false,&quot;responsive_max_width&quot;:&quot;100%&quot;,&quot;responsive_max_width_unit&quot;:false,&quot;custom_width&quot;:&quot;640px&quot;,&quot;custom_width_unit&quot;:false,&quot;custom_height&quot;:&quot;380px&quot;,&quot;custom_height_unit&quot;:false,&quot;custom_height_auto&quot;:false,&quot;location&quot;:&quot;center top&quot;,&quot;position_from_trigger&quot;:false,&quot;position_top&quot;:&quot;150&quot;,&quot;position_left&quot;:&quot;0&quot;,&quot;position_bottom&quot;:&quot;0&quot;,&quot;position_right&quot;:&quot;0&quot;,&quot;position_fixed&quot;:false,&quot;animation_type&quot;:&quot;fade&quot;,&quot;animation_speed&quot;:&quot;350&quot;,&quot;animation_origin&quot;:&quot;center top&quot;,&quot;overlay_zindex&quot;:false,&quot;zindex&quot;:&quot;1999999999&quot;},&quot;close&quot;:{&quot;text&quot;:&quot;&quot;,&quot;button_delay&quot;:&quot;300&quot;,&quot;overlay_click&quot;:&quot;1&quot;,&quot;esc_press&quot;:false,&quot;f4_press&quot;:false},&quot;click_open&quot;:[]}}" role="dialog" aria-hidden="false" aria-labelledby="pum_popup_title_109" style="opacity: 1; display: block;">
      <div id="popmake-109" class="pum-container popmake theme-104 pum-responsive pum-responsive-small responsive size-small active custom-position" style="min-width: 0%; max-width: 100%; top: 150px; left: 682.797px; opacity: 1; display: block;">
         <div id="pum_popup_title_109" class="pum-title popmake-title">
            Is the caller from this telephone number "Safe" or "Unsafe"?			
         </div>
         <div class="pum-content popmake-content">
            <p>Your rating of this telephone number as “Safe” or “Unsafe” is important information for all of our visitors.</p>
            <p>Please indicate whether the phone number that called you is a trusted caller who is calling for a legitimate purpose, please rate this phone number as “Safe”. If the caller is not a trusted caller, is harassing you, or appears to be a scam, please rate this phone number as “Unsafe”.</p>
            <div class="post-like-dislike-plusCounter-container popup_likedislike" style="display: block;">
               <div class="button-container-likes-dislike">
                  <button class="btn-start-1" id="post-like-btn" style="background: rgb(51, 196, 99);">
                  <i class="fa fa-check-square"></i><span>Safe Caller</span><b>1</b>
                  </button>
                  <button class="btn-start-1" id="post-dislike-btn" style="background: rgb(174, 66, 63);">
                  <i class="fa fa-exclamation-triangle"></i><span>Unsafe Caller</span><b>0</b>
                  </button>
                  <label class="switch-on-off" style="display: none;"><input type="checkbox" class="input-on-off"><span class="slider-on-off round"></span></label>
               </div>
            </div>
            <span class="hidden-id" id="like-dislike-post-id">2082620000</span><span class="hidden-id hldc-post-total-likes popup_likedislikehidden">1</span><span class="hidden-id hldc-post-total-dislikes popup_likedislikehidden">0</span><span class="hidden-id hldc-lk-dk-type">cookie-check</span><span class="hidden-id hldc-page-title">(208) 262-0000</span><span class="hidden-id hldc-share-it">no</span>
         </div>
         <button type="button" class="pum-close popmake-close" aria-label="Close" style="display: block;">
         ×            </button>
      </div>
   </div>
</body>
</html>