<!doctype html>
<html lang="en-US">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title> USP </title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
      <link rel="shortcut icon" href="../images/USP_Favicon_2-1.png">
      <script src="https://kit.fontawesome.com/529ea2b962.js" crossorigin="anonymous"></script>
      <link rel='stylesheet' href='../stylesheets/font-awesome.css' type='text/css' media='all' />
      <link rel='stylesheet'   href='../stylesheets/custom-style.css' type='text/css' media='all' />
      <link rel='stylesheet'  href='../stylesheets/js_composer.css' type='text/css' media='all' />
      <link rel='stylesheet'   href='../stylesheets/shortcodes.css' type='text/css' media='all' />
      <link rel='stylesheet' 	  href='../stylesheets/responsive.css' type='text/css' media='all' />
      <script type='text/javascript' src='../javascripts/jquery.js'></script>
      <script type='text/javascript' src='../javascripts/jquery-migrate.js'></script>
    
      



   </head>
   <body class="home page-template-default page page-id-6 smooth-scroll wpb-js-composer js-comp-ver-4.11.2.1 vc_responsive">
      <div class="site-wrapper boxed-layout">
         <header id="header" class="header header-v1 header-v1-only clearfix  ">
            <div class="container">
               <div id="logo-navigation" class="sixteen columns">
                  <div id="logo" class="logo">
                     <a href="/"> <img src="../images/USP-Logo-4.png" alt="logo">
                     </a>												
                  </div>
                  <div id="navigation" class="clearfix">
                     <div class="header-icons">
                     </div>
                     <ul id="nav" class="menu">
                        <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="aboutus">About</a></li>
                        <li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="faq">FAQs</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </header>