<%- include header.ejs %>
         <div id="mobile-header" class="mobile-header-v1">
            <div class="container">
               <div class="sixteen columns">
                  <div id="mobile-logo" class="logo">
                     <a href="/"><img src="../images/USP-Logo-4.png" alt="logo"></a>
                  </div>
                  <a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
               </div>
            </div>
         </div>
         <div id="mobile-navigation">
            <div class="container">
               <div class="sixteen columns">
                  <div class="menu-top-menu-container">
                     <ul id="mobile-nav" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="aboutus">About</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="faq">FAQs</a></li>
                     </ul>
                  </div>
               
                  <form method="post" id="submit_search" class="header_submit_serach">
                     <div>
                        <input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" class="search_query_header" >
                     </div>
                     <div class="phone_result header_phn_result "> </div>
                  </form>
               </div>
            </div>
         </div>
         <div id="notitlebar"></div>
         <div id="page-wrap"  >
            <div id="content" class="page-section nopadding">
               <div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" >
                  <div class="col span_12 color-dark left">
                     <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="divider divider4" style='margin:15px 0 60px 0 !important;'></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1">
                  <div class="col span_12 color-dark left">
                     <div class="vc_col-sm-4 wpb_column column_container col no-padding color-dark"  data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="wpb_text_column wpb_content_element ">
                              <div class="wpb_wrapper">
                                 <h2>U.S. Phone Number Lookup</h2>
                                 <h3><span style="color: #999999;">Accurate and Current Reverse Phone Number Lookup</span></h3>
                                 <p>U.S. Phone Number Lookup is a website dedicated to helping people research telephone numbers that may have called them. Our data is pulled directly from relevant, public sources. Our goal is to make sure vistors are armed with the most accurate, relevant information on callers.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="vc_col-sm-8 wpb_column column_container col no-padding color-dark"  data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="wpb_text_column wpb_content_element ">
                              <div class="wpb_wrapper">
                                 <h2 style="text-align: left;">Search any U.S. Phone Number Here</h2>
                              </div>
                           </div>
                           <div class="col-lg-8 cus_search_call">
                              <div class="search-id-detail">
                                 <div class="search-id-description">
                                    <form method="post" id="submit_search">
                                       <div class="input-group">
                                          <input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" id="customPhonenno" class="search_query form-control"  >
                                          <div class="input-group-btn">
                                             <button class="btn btn-default button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                          </div>
                                       </div>
                                       <!-- <input type="submit" class="button" value="submit"> -->
                                       <div class="phone_result input-group"> </div>
                                       <div class="phone_result input-group curentResult" style="display: none;">
                                          <ul id="result_ui">
                                   
                                 </ul>
                              </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" >
                  <div class="col span_12 color-dark left">
                     <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark"  data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="divider divider4" style='margin:15px 0 60px 0 !important;'></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" >
                  <div class="col span_12 color-dark left">
                     <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark"  data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="wpb_text_column wpb_content_element ">
                              <div class="wpb_wrapper">
                                 <h2>Top Searches Today</h2>
                                 <h3><span style="color: #999999;">View the Most Searched Phone Numbers </span></h3>
                              </div>
                           </div>
                           <div class="custom_shortcode">
                              <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark"  data-animation="" data-delay="">
                                 <div class="wpb_wrapper">
                                    <div class="caller-id-sidebar">
                                       <div class="sidebar-detail-title">
                                       </div>
                                       <div class="searches-result">
                                          <ul>
                                             <% if ( typeof(random) !='undefined') { %>
                                                <% random.forEach(function(Result) { %>
                                                   <% if(Result.companynumber.length >= 10){ %>
                                                      <li><a href="/<%=Result.companynumber  %>"> <span class="customPhonenno"><%=Result.companynumber %></span></a></li>
                                                  <% } %>
                                                  

                                                   <% }) } %>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" >
                  <div class="col span_12 color-dark left">
                     <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark"  data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="divider divider4" style='margin:15px 0 60px 0 !important;'></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end content -->
         </div>
         <!-- end page-wrap -->
       <%- include footer.ejs %>