<%- include header.ejs %>

<div id="mobile-header" class="mobile-header-v1">
	<div class="container">
		<div class="sixteen columns">
			<div id="mobile-logo" class="logo">
									<a href="https://usphonenumberlookup.com/"><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" alt="US Phone Number Lookup" class="logo_standard" /></noscript></noscript></a>
					<a href="https://usphonenumberlookup.com/"><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" width="387" height="57" alt="US Phone Number Lookup" class="logo_retina" /></noscript></noscript></a>							</div>
			<a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
					</div>
	</div>
</div>

<div id="mobile-navigation">
	<div class="container">
		<div class="sixteen columns">
			<div class="menu-top-menu-container"><ul id="mobile-nav" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://usphonenumberlookup.com/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://usphonenumberlookup.com/faqs/">FAQs</a></li>
</ul></div>			
						<!-- <form action="https://usphonenumberlookup.com" method="GET">
	      		<input type="text" name="s" value="" placeholder="Search.."  autocomplete="off" />
			</form>  -->

            <form method="post" id="submit_search" class="header_submit_serach">
              	<div>
                	<input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" class="search_query_header" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);">
              	</div>  
                
                <div class="phone_result header_phn_result "> </div>  
			</form>
                        
				
		</div>
	</div>
</div>

		
			
					<div id="fulltitle" class="titlebar">
				<div class="container">
					<div  id="title" class="ten columns">
						<h1>Number Removal</h1>
					</div>
					<div id="breadcrumbs" class="six columns">
						<div id="crumbs"><a href="https://usphonenumberlookup.com">US Phone Number Lookup</a> / <span class="current">Number Removal</span></div>					</div>
				</div>
			</div>
		


<div id="page-wrap" class="container" >

	<div id="content" class="sixteen columns">
	
		<div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" style=""><div class="col span_12 color-dark left">
	<div class="vc_col-sm-6 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
		<div class="wpb_wrapper">
			
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>Number Removal Request</h2>
<h4><span style="color: #777777;">Contact the site manager with any requests to edit comments or remove telephone numbers from the website. Please allow up to seven (7) business days for a response.</span></h4>

		</div>
	</div>

		</div> 
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
		<div class="wpb_wrapper">
			
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div role="form" class="wpcf7" id="wpcf7-f5-p27-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/number-removal/#wpcf7-f5-p27-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="5" />
<input type="hidden" name="_wpcf7_version" value="5.1.7" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p27-o1" />
<input type="hidden" name="_wpcf7_container_post" value="27" />
</div>
<p><label> Your Name (required)<br />
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Your Email (required)<br />
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Subject<br />
    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </label></p>
<p><label> Your Message<br />
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
<input type='hidden' class='wpcf7-pum' value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />

<div class="wpcf7-response-output wpcf7-display-none">
	<div class="wpcf7-response-output wpcf7-mail-sent-ok" role="alert">Thank you for your message. It has been sent.</div>

</div></form></div>

		</div>
	</div>

		</div> 
	</div> 
</div></div>

		
		
			</div> <!-- end content -->

	
</div> <!-- end page-wrap -->
	
		
		
<%- include footer.ejs %>