<%- include header.ejs %>
<div id="mobile-header" class="mobile-header-v1">
	<div class="container">
		<div class="sixteen columns">
			<div id="mobile-logo" class="logo">
									<a href="https://usphonenumberlookup.com/"><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" alt="US Phone Number Lookup" class="logo_standard" /></noscript></noscript></a>
					<a href="https://usphonenumberlookup.com/"><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" width="387" height="57" alt="US Phone Number Lookup" class="logo_retina" /></noscript></noscript></a>							</div>
			<a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
					</div>
	</div>
</div>

<div id="mobile-navigation">
	<div class="container">
		<div class="sixteen columns">
			<div class="menu-top-menu-container"><ul id="mobile-nav" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://usphonenumberlookup.com/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://usphonenumberlookup.com/faqs/">FAQs</a></li>
</ul></div>			
						<!-- <form action="https://usphonenumberlookup.com" method="GET">
	      		<input type="text" name="s" value="" placeholder="Search.."  autocomplete="off" />
			</form>  -->

            <form method="post" id="submit_search" class="header_submit_serach">
              	<div>
                	<input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" class="search_query_header" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);">
              	</div>  
                
                <div class="phone_result header_phn_result "> </div>  
			</form>
                        
				
		</div>
	</div>
</div>

		
			
					<div id="fulltitle" class="titlebar">
				<div class="container">
					<div  id="title" class="ten columns">
						<h1>Privacy Policy</h1>
					</div>
					<div id="breadcrumbs" class="six columns">
						<div id="crumbs"><a href="https://usphonenumberlookup.com">US Phone Number Lookup</a> / <span class="current">Privacy Policy</span></div>					</div>
				</div>
			</div>
		


<div id="page-wrap" class="container" >

	<div id="content" class="sixteen columns">
	
		<div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" style=""><div class="col span_12 color-dark left">
	<div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
		<div class="wpb_wrapper">
			
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>U.S. Phone Number Lookup Privacy Policy</h2>
<p>At US Phone Number Lookup, your privacy is very important to us. We want to make your experience with our website, www.usphonenumberlookup.com (the “Website”) satisfying and safe. This Privacy Policy applies to anyone accessing or otherwise using the Website (“User” or “you”).</p>
<p>This Privacy Policy outlines the types of information we gather from your use of the Website, how we use it, with whom we might share it, the means by which we keep it secure, and the choices you have about the information you choose to share with us. It also explains the treatment of information provided on applications we may make available on various third-party websites or online platforms. </p>
<p>This Privacy Policy may be updated from time to time without your prior consent, and without any prior notice to you. Each time you access the Website, the current version of the Privacy Policy will apply to your use of the Website. We encourage you to periodically check this Privacy Policy for any changes.</p>
<p>If you have any questions about the privacy practices of Company or this Privacy Policy, please contact us.</p>
<p>We collect information from you when you register on our site, place an order, open a support ticket, or provide us with feedback on our products or services.</p>

<p><strong>DEFINITIONS</strong></p>
<p>Personal Information. “Personal Information” means data or information that directly or indirectly identifies a particular individual who is accessing or otherwise using the Website. Personal Information may include, but is not limited to the following: name, mailing address, email address, telephone number(s), date of birth, social security number, other identifiers that permit the physical or online contacting of a particular individual.</p>
<p>Non-Personal Information. “Non-Personal Information” means data or other information that cannot directly or indirectly be used to identify a particular individual who is accessing or otherwise using the Website. The Non-Personal Information collected by the Website may include, but is not limited to the following: Internet Protocol (IP) address, operating system, browser type, physical location of the User, browsing and purchasing profiles of Website Users, and the access and exit path for the Users accessing the Website.
</p>
<p>Cookies. Cookies are small pieces of information that a website places on the hard drive of your computer when you access a website, which the user’s computer provides back to the website each time you access it. </p>
<p>Local Shared Objects (Flash Cookies). Local Shared Objects, or Flash Cookies, are small pieces of information that are in some instances used to store user preferences or display content based upon what a user views on a website to personalize their visit. </p>
<p>Web Beacons. Web Beacons are small pieces of data that are embedded on the Website, which invisibly helps check whether a User has accessed certain content or pages on the Website. </p>
<p>Web beacons may involve the transmission of information directly to us, to another party on our behalf, or to another party in accordance with its privacy policy. We may use web beacons to bring together information we collect about you.</p>

<p><strong>INFORMATION WE COLLECT FROM YOU</strong></p>
<p>The types of Personal Information we collect depends on a variety of factors. This information may include, but is not limited to: </p>
<ul>
<li>Personal Information such as your first and last name, email address, mailing address, and telephone number(s), date of birth, social security number; </li>
<li>A username and password to access the Website</li>
<li>A universal identifier that can be used to recognize you across different websites or services</li>
<li>Payment information such as your credit or debit card number, expiration date, and card verification number </li>
<li>Demographic information, such as age, sex, gender, race, marital status, employment status, or household income </li>
<li>Photographs, videos, or audio files that contains a User’s image, voice or likeliness </li>
<li>Geolocation information sufficient to identify the specific location of a User </li>
<li>Information you provide to public forums or message boards on the Website or its applications; or </li>
<li>Data and other information about your usage of the Website, such as your physical location, IP address, browsing and purchasing profile, your access path to and through the Website, and your exit path from the Website. </li>
</ul>
<p><strong>WHY WE COLLECT INFORMATION FROM YOU</strong></p>
<p>Company’s primary purpose for collecting personal information is to facilitate the placement and payment of your orders for our products and services offered on our site, to create an account on our site that supports your orders and related fulfillment processes, and to allow us to respond to you when you contact us through our site. Company may also collect certain personal information to provide you with the best possible Website usage experience based on your browsing information. In addition, we may from time to time review your usage of the site to be able to better provide you with information about products or services that we believe may be interest to you. </p>

<p><strong>HOW WE COLLECT INFORMATION FROM YOU</strong></p>
<p>The Personal Information we collect may be captured from a variety of sources. These sources include, but are not limited to: </p>
<ul>
	<li>New account creation for Website accounts, or to support management of orders for products or services purchased through the Website</li>
	<li>Voluntary submissions (e.g., responses to surveys, requests for information on our products or those of our advertisers or marketing partners, or use of our “Contact Us” form)</li>
	<li>Purchasing any products and services through the Website; or</li>
	<li>Analysis of site usage patterns. </li>
</ul>
<p>The Company does not knowingly direct the Website to children under the age of thirteen, and does not knowingly collect Personal Information from children under the age of thirteen. Users under the age of eighteen must have consent from a parent or legal guardian to use or access the Website.</p>



<p><strong>HOW WE USE INFORMATION WE COLLECT FROM YOU</strong></p>
<p>The Company generally uses the Personal Information collected about you in the following ways:</p>
<ul>
<li>To provide you with the products and services offered or sold to you by or through the Company</li>
<li>To process any payment that you made through the Website</li>
<li>To manage any account you maintain on the Website or with the Company</li>
<li>To ensure functionality of the products and services offered to you</li>
<li>To ensure your ability to access the Website</li>
<li>To ensure a quality user experience when accessing the Website</li>
<li>To display or develop content or advertising that is customized to your interests</li>
<li>To develop new products or services to offer to you</li>
<li>To analyze and customize your use of the products or services offered to you</li>
<li>To analyze and customize your use of the Website</li>
<li>To communicate with you regarding any products or services the Company offers or sells to you</li>
<li>To communicate with you about the Website or your use thereof</li>
<li>To communicate with you either directly or through one of the Company’s third-party vendors or partners for marketing and promotional purposes</li>
<li>To prevent or detect fraud, and to comply with applicable laws and regulations</li>
<li>To troubleshoot the Website or to detect or correct any technical errors</li>
<li>To enforce the Website’s Terms of Use, this Privacy Policy, or any other terms or contractual obligations or agreements between you and the Company (or any of its third-party vendors or partners); or</li>
<li>As otherwise described in this Privacy Policy</li>
</ul>




<p><strong>HOW WE SHARE INFORMATION WE COLLECT FROM YOU</strong></p>
<p>Company will generally not make the personal information gathered using the Website available to anyone outside of Company, except as instructed by you, where required to comply with law, or as set forth in this Privacy Policy. Please note, however, that there are several exceptions to this policy. </p>
<p>First, if we use third-party service providers, these third-party service providers may have access to your personal information to perform contractually specified services on behalf of Company or you, including but not limited to third-party service providers for credit card processing and secure provisioning of licensed materials that have restricted access protections. Second, if you indicate that you are interested in receiving information about particular third-party products or services, or you opt to receive certain third-party products or services through Company, we may provide your personal information to that third-party for purposes of fulfilling your request(s). With respect to any third-party service provider, Company may contractually require that all personal information be kept confidential. Additionally, Company takes reasonable steps to ensure that third-parties receiving information about you at your request maintain the confidentially of that information. </p>
<p>We may use your Personal Information to fulfill your purchase orders, send you information relating to any products or services offered or sold through the Website, to send you information about the products or services offered by our business partners or affiliates, to contact you regarding any orders you placed through the Website, to contact you regarding your use of the Website, or in connection with other legitimate business purposes.</p>
<p>In certain circumstances, the Company may use or share your Personal Information with a third-party that is affiliated with us, to help improve and improve products and services, and to offer products and services that may be of interest to you. Company may also share your Personal Information with certain third-parties that provide services to the Company, such as web hosts, data processing or marketing services, payment processing providers, fulfillment or shipping services.</p>
<p>The Company also reserves the right to share your Personal Information with third-parties in response to a subpoena, to respond to an inquiry by a government agency or regulatory body, or as necessary for other legal purposes. We also reserve the right to disclose your Personal Information to law enforcement officers or others, when such disclosure is reasonably necessary to enforce the Company’s Terms of Use, to respond to intellectual property claims made by others, or to protect the rights and safety of the Company, Users of the Website, or the general public. </p>
<p>Company may collect and share aggregated Non-Personal Information that is collected from multiple Users who are accessing or otherwise using the Website so that we can better understand how our Users access and use the Website, as well as for conducting a general business analysis of the Website. Such aggregated Non-Personal Information may be shared with various third-parties, including consultants and advertisers. </p>


<p><strong>HOW WE USE YOUR INFORMATION WITH ANALYTICS</strong></p>
<p>From time to time, the Company may employ third-party analytics firms or software to help us analyze your use of the Website. We may permit these third parties to use cookies or similar technologies to perform various analytic services for us, such as understanding your use of the Website or to track the popularity of certain content on the Website. </p>

<p><strong>THIRD-PARTY ADVERTISERS AND WEBSITES</strong></p>
<p>From time to time the Company may also allow third-parties to serve advertisements on the Website, and/or collect Non-Personal Information from you through the use of Cookies, Local Shared Objects, Web Beacons, or other technologies. The Company does not identify you to these third-party advertisers. These third-parties may use such Non-Personal Information or data (i) to serve advertisements about goods and services that may be of interest to you; (ii) to measure the effectiveness of such advertisements; and/or (iii) to provide content tailored to you based on your interests. The Cookies, Local Shared Objects, Web Beacons, or other technologies used on the Website by these third-parties are governed by each third-party’s own privacy policy. If you would like to learn more about third-party advertising on the Website and the various opt-out procedures offered by these third-party advertisers, please visit http://www.networkadvertising.org to learn more.</p>
<p>The Website may contain links to various third-party websites which are outside the Company’s control and which are not covered by this Privacy Policy. If you access any third-party website using a link found on the Website, the operators of such third-party websites may collect information from you which will be used by them in accordance with their own privacy policy. The use of your information by any third-party may differ the Company’s use of your information as described in this Privacy Policy. We encourage you to review the privacy policies of any third-party website that you may be directed to from the Website so that you understand how they use information they collect from you.</p>


<p><strong>PROTECTION OF YOUR PERSONAL INFORMATION</strong></p>
<p>Company puts reasonable security measures in place to protect against unauthorized access to, or unauthorized alteration, disclosure or destruction of Personal Information. These measures may include, but are not limited to internal security measures such as a review of data collection, storage and processing practices and security measures, as well as physical security measures to guard against unauthorized access to systems where Company may store personal data. Our security and privacy policies may be periodically reviewed and enhanced as necessary. However, please be aware though that no security measures incapable of penetration. As a result, Company cannot and does not guarantee that your Personal Information will not be compromised by any unauthorized access to the Website that evades or security measures. Company is not responsible for any privacy or security breach that may occur. </p>


<p><strong>USE OF COOKIES, LOCAL SHARED OBJECTS, AND WEB BEACONS</strong></p>
<p>Company may, in its sole discretion, use Cookies to set users' preferences, gather registration information (such as login and password), date and time of visit, user preferences, maintain the user’s session when logged in, to maintain the user’s shopping cart contents, and monitor visitor usage patterns on our Website. The use of Cookies allows us to personalize the user experience and to improve the quality of our Website navigation. Cookies do not reveal the identity of the individual user but only identify the computer utilized by that user. By using Cookies, data or other information may be transmitted to you to us, from us to you, or from you to a third-party in accordance with this Privacy Policy. Users can set their browser to turn off the use of Cookies. However, certain website features that make your user experience better may not function without the user of Cookies. Users that turn off or otherwise refuse Cookies should understand that they are solely responsible for any reduced functionality of the Website as a result of their refusal of any Cookies employed by the Website.</p>
<p>In addition, Company may, in its sole discretion, use Web Beacons on the Website or in Company emails in connection with website analytics that the Company may perform, such as collecting information or data on website usage patterns. You can typically decline Web Beacons by setting your browser to turn off all use of Cookies. </p>
<p>To the extent applicable, some of our advertisers or third-party service providers also may use Local Shared Objects (Flash Cookies) to collect and store data or other information from you. Flash Cookies differ from typical browser Cookies in because of the type and amount of data stored. Cookie management tools on your browser may not remove Flash Cookies. Users may be able to set their browser to turn off the use of Flash Cookies. However, certain website features that make your user experience better may not function without the user of Flash Cookies. Users that turn off or otherwise refuse Flash Cookies should understand that they are solely responsible for any reduced functionality of the Website as a result of their refusal of any Flash Cookies employed by the Website.</p>


<p><strong>HOW WE RESPOND TO DO NOT TRACK SIGNALS</strong></p>
<p>Do Not Track is a standard that is still currently in development. As no uniform standard has been adopted, the Website therefore does not use Do Not Track signals or other similar mechanisms, or otherwise respond to Do Not Track signals or other similar mechanisms. </p>

<p><strong>YOUR CALIFORNIA PRIVACY RIGHTS</strong></p>
<p>California Civil Code Section 1798.83 (known as the “Shine the Light Law”) permits California residents to request certain information from the Company regarding the disclosure or sharing of your Personal Information by the Company to third-parties for their direct marketing purposes during the previous calendar year. To make such a request, please contact us.</p>
<p>For California residents under the age of 18 who has created or maintains an account with the Website, California Business and Professions Code Section 22581 permits Users under the age of 18 to request removal of content or information that was publicly posted by the User. To make such a request, please contact us with a detailed description of the specific content or information to be removed. Please note that that such a request does not ensure complete removal of any content republished by third parties, such as search engines or social media websites.</p>

<p><strong>ACCURACY OF INFORMATION WE COLLECT FROM YOU</strong></p>
<p>You are responsible for periodically checking to ensure that your personal information included in the Website is updated and correct. </p>

<p><strong>HOW TO UPDATE INFORMATION WE HAVE COLLECTED FROM YOU</strong></p>
<p>Please note that the Company reserves the right to retain information about you for legitimate business purposes, or as required by law. You are responsible for maintaining the confidentiality of the password that you use to access to the Website. If you believe that the confidentiality of your password has been compromised, please be sure to reset your password to prevent any unauthorized access of your account. </p>


<p><strong>YOUR CONSENT</strong></p>
<p>By using the Company, you consent to the collection and use of Personal Information, Non-Personal Information, and any related information in the manner described in this Privacy Policy, by either the Company or any of its third-party service providers, partners or affiliates. </p>

<p><strong>CHANGES TO THE PRIVACY POLICY</strong></p>
<p>Company reserves the right to change this policy at any time by distributing and/or posting a new privacy policy to the Website without prior notice to you. We encourage you to review this Privacy Policy on a regular basis so that you will be aware of any changes to it. </p>
<p>If Company or its assets are acquired by another company, or in the event of a merger, change in control, transfer of substantial assets, reorganization, or liquidation, Company may transfer, sell, or assign to third parties, your Personal Information. These third-parties will assume responsibility for your Personal Information and your Personal Information will likely be subject to the same or similar rights and obligations as described in this Privacy Policy.</p>

<p><strong>HOW TO CONTACT US ABOUT PRIVACY QUESTIONS</strong></p>
<p>If you have questions about this Privacy Policy or our privacy practices, please contact us. Please allow several days for a response. </p>

		</div>
	</div>

		</div> 
	</div> 
</div></div>

		
		
			</div> <!-- end content -->

	
</div> <!-- end page-wrap -->
	
		
<%- include footer.ejs %>