<%- include header.ejs %>
<div id="mobile-header" class="mobile-header-v1">
	<div class="container">
		<div class="sixteen columns">
			<div id="mobile-logo" class="logo">
									<a href="https://usphonenumberlookup.com/"><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" alt="US Phone Number Lookup" class="logo_standard" /></noscript></noscript></a>
					<a href="https://usphonenumberlookup.com/"><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" width="387" height="57" alt="US Phone Number Lookup" class="logo_retina" /></noscript></noscript></a>							</div>
			<a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
					</div>
	</div>
</div>

<div id="mobile-navigation">
	<div class="container">
		<div class="sixteen columns">
			<div class="menu-top-menu-container"><ul id="mobile-nav" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://usphonenumberlookup.com/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://usphonenumberlookup.com/faqs/">FAQs</a></li>
</ul></div>			
						<!-- <form action="https://usphonenumberlookup.com" method="GET">
	      		<input type="text" name="s" value="" placeholder="Search.."  autocomplete="off" />
			</form>  -->

            <form method="post" id="submit_search" class="header_submit_serach">
              	<div>
                	<input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" class="search_query_header" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);">
              	</div>  
                
                <div class="phone_result header_phn_result "> </div>  
			</form>
                        
				
		</div>
	</div>
</div>

		
			
					<div id="fulltitle" class="titlebar">
				<div class="container">
					<div  id="title" class="ten columns">
						<h1>Privacy Policy</h1>
					</div>
					<div id="breadcrumbs" class="six columns">
						<div id="crumbs"><a href="https://usphonenumberlookup.com">US Phone Number Lookup</a> / <span class="current">Privacy Policy</span></div>					</div>
				</div>
			</div>
		


<div id="page-wrap" class="container" >

	<div id="content" class="sixteen columns">
	
		<div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" style=""><div class="col span_12 color-dark left">
	<div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
		<div class="wpb_wrapper">
			
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>U.S. Phone Number Lookup Privacy Policy</h2>
<p>This privacy policy has been compiled to better serve those who are concerned with how their “Personally identifiable information” (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
<p><strong>What personal information do we collect from the people that visit our blog, website or app?</strong></p>
<p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number, credit card information or other details to help you with your experience.</p>
<p><strong>When do we collect information?</strong></p>
<p>We collect information from you when you register on our site, place an order, open a support ticket, or provide us with feedback on our products or services.</p>
<p><strong>How do we use your information?</strong></p>
<p>We may use the information we collect from you in the following ways:</p>
<ul>
<li>To personalize your experience and deliver the type of content and product offerings in which you are most interested.</li>
<li>To improve our website in order to better serve you.</li>
<li>To allow us to better service you in responding to your customer service requests.</li>
<li>To administer a contest, promotion, survey or other site feature.</li>
<li>To quickly process your transactions.</li>
<li>To ask for ratings and reviews of services or products</li>
<li>To follow up with you after correspondence (live chat, email or phone inquiries)</li>
</ul>
<p><strong>How do we protect visitor information?</strong></p>
<ul>
<li>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.</li>
<li>All sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</li>
<li>We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</li>
<li>All transactions are processed through a gateway provider and are not stored or processed on our servers.</li>
</ul>
<p><strong>Do we use &#8216;cookies&#8217;?</strong></p>
<p>Yes. Cookies are small files that a site or its service provider transfers to your computer&#8217;s hard drive through your Web browser (if you allow) that enables the site&#8217;s or service provider&#8217;s systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser&#8217;s Help menu to learn the correct way to modify your cookies.</p>
<p>If you disable cookies, some of our services will not function properly.</p>
<p><strong>How do we work with third-parties?</strong></p>
<ul>
<li>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</li>
<li>We do not include or offer third-party products or services on our website.</li>
<li>We do not allow third-party behavioral tracking.</li>
</ul>
<p><strong>How does our site handle do not track signals?</strong></p>
<p>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
<p><strong>California Online Privacy Protection Act</strong></p>
<p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law&#8217;s reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. Get more information <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/">here</a>.</p>
<p>According to CalOPPA we agree to the following:</p>
<ul>
<li>Users can visit our site anonymously.</li>
<li>Once this privacy policy is created, we will add a link to it on our home page or as a minimum on the first significant page after entering our website.</li>
<li>Our Privacy Policy link includes the word &#8216;Privacy&#8217; and can be easily be found on the page specified above.</li>
<li>Users will be notified of any privacy policy changes on our Privacy Policy Page.</li>
<li>Users are able to change their personal information by logging in to their account</li>
</ul>
<p><strong>COPPA (Children Online Privacy Protection Act)</strong></p>
<p>When it comes to the collection of personal information from children under 13, the Children&#8217;s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation&#8217;s consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children&#8217;s privacy and safety online. We do not specifically market to children under 13.</p>
<p><strong>Fair Information Practices</strong></p>
<p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
<p>In order to be in line with Fair Information Practices should a data breach occur, we will notify the users via email within 7 business days</p>
<p>We also agree to the Individual Redress Principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
<p><strong>CAN-SPAM Act</strong></p>
<p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
<p>We collect your email address in order to:</p>
<ul>
<li>Send information, respond to inquiries, and/or other requests or questions.</li>
<li>Process orders and to send information and updates pertaining to orders.</li>
<li>We may also send you additional information related to your product and/or service.</li>
<li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
</ul>
<p>To be in accordance with CAN-SPAM we agree to the following:</p>
<ul>
<li>NOT use false or misleading subjects or email addresses.</li>
<li>Identify the message as an advertisement in some reasonable way.</li>
<li>Include the physical address of our business or site headquarters.</li>
<li>Monitor third-party email marketing services for compliance, if one is used.</li>
<li>Honor opt-out/unsubscribe requests quickly.</li>
<li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
</ul>
<p>If at any time you would like to unsubscribe from receiving future emails, you can follow the instructions at the bottom of each email and we will promptly remove you from all correspondence.</p>
<p><strong>Contacting Us</strong></p>
<p>If there are any questions regarding this privacy policy you may contact us using the contact form on this website.</p>

		</div>
	</div>

		</div> 
	</div> 
</div></div>

		
		
			</div> <!-- end content -->

	
</div> <!-- end page-wrap -->
	
		
<%- include footer.ejs %>