<%- include header.ejs %>

<div id="mobile-header" class="mobile-header-v1">
	<div class="container">
		<div class="sixteen columns">
			<div id="mobile-logo" class="logo">
									<a href="https://usphonenumberlookup.com/"><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" class="logo_standard lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4.png" alt="US Phone Number Lookup" class="logo_standard" /></noscript></noscript></a>
					<a href="https://usphonenumberlookup.com/"><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img  width="387" height="57" alt="US Phone Number Lookup"  data-src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" class="logo_retina lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="https://usphonenumberlookup.com/wp-content/uploads/2020/01/USP-Logo-4_Retina.png" width="387" height="57" alt="US Phone Number Lookup" class="logo_retina" /></noscript></noscript></a>							</div>
			<a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
					</div>
	</div>
</div>

<div id="mobile-navigation">
	<div class="container">
		<div class="sixteen columns">
			<div class="menu-top-menu-container"><ul id="mobile-nav" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://usphonenumberlookup.com/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://usphonenumberlookup.com/faqs/">FAQs</a></li>
</ul></div>			
						<!-- <form action="https://usphonenumberlookup.com" method="GET">
	      		<input type="text" name="s" value="" placeholder="Search.."  autocomplete="off" />
			</form>  -->

            <form method="post" id="submit_search" class="header_submit_serach">
              	<div>
                	<input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" class="search_query_header" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);">
              	</div>  
                
                <div class="phone_result header_phn_result "> </div>  
			</form>
                        
				
		</div>
	</div>
</div>

		
			
					<div id="fulltitle" class="titlebar">
				<div class="container">
					<div  id="title" class="ten columns">
						<h1>Terms of Use</h1>
					</div>
					<div id="breadcrumbs" class="six columns">
						<div id="crumbs"><a href="https://usphonenumberlookup.com">US Phone Number Lookup</a> / <span class="current">Terms of Use</span></div>					</div>
				</div>
			</div>
		


<div id="page-wrap" class="container" >

	<div id="content" class="sixteen columns">
	
		<div  class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" style=""><div class="col span_12 color-dark left">
	<div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
		<div class="wpb_wrapper">
			
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>U.S. Phone Number Lookup Terms of Use</h2>
<p>US Phone Number Lookup operates this website, usphonenumberlookup.com. The website, the information contained on the website, and all links contained therein will be collectively referred to herein as the "Website". By using the Website, or purchasing any products or services through the Website, you (“you” or, “User”) agree to be bound by this Agreement, as any of the same may exist from time to time (referred to herein as the "Terms of Use" or "Agreement"). </p>
<p>THIS AGREEMENT CONTAINS IMPORTANT PROVISIONS THAT MAY AFFECT YOUR RIGHTS WITH RESPECT TO THE COMPANY OR THE WEBSITE. IF YOU DO NOT AGREE TO ANY PARTICULAR TERM OF THE AGREEMENT, OR DO NOT AGREE TO BE BOUND BY THE AGREEMENT, IMMEDIATELY STOP ACCESSING THE WEBSITE AND DO NOT USE PURCHASE ANY PRODUCT OR SERVICE OFFERED THROUGH THE WEBSITE. YOU UNDERSTAND AND ACKNOWLEDGE THAT WE MAY MODIFY THIS AGREEMENT AT ANY TIME WITHOUT YOUR CONSENT, AND WITHOUT ANY PRIOR NOTICE TO YOU OR ANY USER.</p>

<p><strong>ACCEPTANCE OF THIS AGREEMENT </strong></p>
<p>In consideration for your use of the Website, along with the purchase of any products or services from the Company through the Website, you agree that you shall be bound by this Agreement. You understand that this Agreement supersede prior agreements, representations or warranties between you and the Company with respect to this Website or your use thereof. You represent and warrant that by using this Website, you have been placed on constructive notice of these Term of Use. To the extent you have not affirmatively manifested assent to this Agreement, you agree and acknowledge that your use of this Website is equivalent to an affirmative interaction with the Website acknowledging your assent and agreement to the terms contained in this Agreement. Your use of this Website includes the ability to enter into binding agreements or to engage in binding transactions electronically. </p>
<p>We reserve the right at all times to modify or otherwise amend any part of this Agreement as we deem necessary or desirable without your consent and without any prior notice to you or any of the Users. Any changes to this Agreement will be effective immediately upon our posting of the amended Agreement to the Website. You agree to be bound to any changes to this Agreement. We suggest that you review this Agreement from time to time to ensure that you stay informed of any changes to the Agreement. Your use of the Website after any modification or amendment to this Agreement shall constitute ratification and acceptance of the modified Agreement. The Company expressly reserves the right to modify or discontinue any aspect or feature of the Website including, but not limited to, requirements for access or use. Such modification is in the sole discretion of the Company, and may be without prior notice to you. You agree that the Company shall not be liable to you or to any third party for any modification or discontinuance of this Website, the Company, or any of its products or services.</p>


<p><strong>USE OF THE WEBSITE</strong></p>
<p>By using the Website, you agree to at all times comply with, be bound by, and adhere to this Agreement. You represent and warrant that your use of this Website does not violate any applicable law or regulation, and is for your own personal, non-commercial use.  Any information you submit to the Website must be accurate, truthful true, complete and correct. You acknowledge and understand that there may be interruptions to this Website that are beyond our control. You further acknowledge that the Company does not independently confirm the accuracy of any information posted on the Website by any User or third parties. Any content posted by any User or other party do not reflect the position or opinions of the Company. While we use reasonable efforts to keep Website accessible, the Website may be unavailable from time to time for any reason including, without limitation, routine maintenance. You understand and acknowledge that due to circumstances both within and outside of our control Website access may be interrupted, suspended or terminated. The Company retains the right at our sole discretion to deny or access to the Website to anyone or any User account, at any time and for any reason.</p>

<p><strong>PROHIBITED ACTIVITIES </strong></p>
<p>All interactions on this Website must be lawful and must comply with this Agreement. To the extent your conduct (as judged by the Company in our sole discretion), restricts or inhibits any other User from using or enjoying any part of this Website, we may limit your privileges on or access to the Website, and seek other remedies as necessary. </p>
<p>Everything located on or in this Website is the exclusive property of the Company or is being used with permission. ANY COPYING, DISTRIBUTING, TRANSMITTING, POSTING, LINKING, DEEP LINKING, SCRAPING, OR OTHERWISE MODIFYING OF THIS WEBSITE (INCLUDING ANY INFORMATION CONTAINED THEREIN) WITHOUT THE EXPRESS WRITTEN PERMISSION OF THE COMPANY IS EXPRESSLY PROHIBITED. Any violation of this requirement may result in a copyright, trademark or other intellectual property right infringement that may subject you to civil and/or criminal penalties.</p>
<p>You agree not to upload, share, submit, post, transmit, email, send to or otherwise make available to the Website any content:</p>
<ul>
	<li>That is unlawful, harmful, threatening, abusive, harassing, defamatory, libelous, invasive of another's privacy, or is harmful to minors in any way</li>
	<li>That is pornographic, depicts a human being engaged in actual sexual conduct or any material which is sexual in nature</li>
	<li>That harasses, degrades, intimidates or is hateful toward an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability</li>
	<li>That impersonates any person or entity, including, but not limited to or falsely states or otherwise misrepresents your affiliation with a person or entity (this provision does not apply to content that constitutes lawful non-deceptive parody of public figures.)</li>
	<li>That includes personal or identifying information about another person without that person's explicit consent and/or express permission</li>
	<li>That is false, deceptive, misleading, deceitful, argumentative, or misinformative in any way</li>
	<li>That infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party, or content that you do not have a right to make available under any law or under contractual or fiduciary relationships</li>
	<li>That constitutes or contains "affiliate marketing," "link referral code," "junk mail," "spam," "chain letters," "pyramid schemes," or any other unsolicited commercial advertisements</li>
	<li>That constitutes or contains any form of advertising or solicitation if: posted in areas of the Website which are not designated for such purposes, or emailed to the Website users who have not indicated in writing that it is acceptable to contact them about other services, products or commercial interests</li>
	<li>That contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment</li>
	<li>That disrupts the normal flow of dialogue with an excessive amount of data or content (also known as a “flooding attack”) to the Website, or that otherwise negatively affects other users' ability to use the Website; or</li>
	<li>That employs false or misleading email addresses, forged headers or otherwise manipulated identifiers in order to disguise the origin of content transmitted through the Website</li>
</ul>





<p><strong>INTELLECTUAL PROPERTY</strong></p>
<p>This Website contains copyrighted material, trademarks and other proprietary information that are protected under intellectual property rights of the United States, and other international laws and conventions. The intellectual property that the Company owns includes this Website, along with any text, source code, software, scripts, databases, photos, graphics, videos, music, sound, and any other elements or functionality contained therein (the “Content”). The Content is protected by copyright under the United States copyright laws, as well as analogous laws and international conventions. By using the Website, you agree not to modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit any of the Content, in whole or in part. You may download, print, and/or save the Content for personal, non-commercial use only. Except as otherwise expressly stated under applicable copyright law, no copying, redistribution, retransmission, publication or commercial exploitation of the Content without the express permission of the Company or the copyright owner is permitted. In addition, the Content may include various items subject to trademark or trade dress protection. </p>
<p>The Website and any content contained therein is protected to the maximum extent permitted by copyright laws and international treaties including, but not limited to the Company’s website design and other related trade dress.</p>
<p>The content displayed on or through the Website is protected by copyright as a collective work and/or compilation, pursuant to copyrights laws and international conventions. Any reproduction, modification, creation of derivative works from or redistribution of the Website or the collective work, and/or copying or reproducing the sites or any portion thereof to any other server or location for further reproduction or redistribution is prohibited without the express written consent of the Company.</p>
<p>You further agree not to reproduce, duplicate or copy any content from the Website without the express written consent of the Company, and agree to abide by any and all copyright notices displayed on the Website. You may not decompile or disassemble, reverse engineer or otherwise attempt to discover any source code contained in the Website. Without limiting the foregoing, you agree not to reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes, any aspect of the Website.</p>




<p><strong>CONTRIBUTIONS TO THE WEBSITE</strong></p>
<p>The Website may allow you to add user generated content to the Website through blogs, posts, forums, comments, message boards, reviews, or other similar functionality (collectively, a “User Contribution”). Any content, data or information that is uploaded, shared, submitted, posted, transmitted, emailed, sent to or otherwise made available to the Website by you include, but are not limited to text, articles, comments, messages, forum postings, files, text, images, photographs, videos clips, sounds, data or any other information or data transmissible over the Internet. The Website includes any area or online resource that the user has access to and/or where the user has the ability to upload, share, submit, post, transmit, email, send or otherwise make available any content to the Website, Company computer servers or to the Company itself.</p>
<p>By uploading, sharing, submitting, posting, transmitting, emailing, sending  or otherwise making available to the Website any information, data or content that is deemed a User Contribution by the Company in its sole discretion, you automatically grant to the Company and its officers, directors, employees, subsidiaries, partners, and affiliates, a royalty-free, irrevocable, perpetual, non-exclusive, sublicensable, fully paid, worldwide license to use, copy, publicly perform, host, display, distribute, sell, resell, reformat, adapt, enhance, edit, translate, store, modify or reproduce from, any User Contribution, and to prepare derivative works of, or incorporate into other works in any medium now in existence or hereinafter developed without restriction for any purpose including commercial purposes without any compensation to you, and to grant and authorize sublicenses of the foregoing without any acknowledgement or compensation to you. You further grant each other User of the Website a limited, personal, non-transferrable, royalty-free, irrevocable, perpetual, non-exclusive, fully paid, worldwide license to view, access, download, print, or otherwise use your User Contribution for their own personal, non-commercial purposes. </p>
<p>You shall be solely responsible for your own User Contributions and the consequences of submitting and publishing of any User Contribution to the Website. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish each User Contribution that you submit to the Website, and that any User Contribution you make does not infringe any intellectual property rights held by any third party. You understand that the Company does not guarantee any confidentiality with respect to any User Contribution that you make to the Website. Company has no obligation to screen, monitor, delete or remove any User Contribution that anyone may consider objectionable or inaccurate. User Contributions are third party opinions only, and do not reflect or otherwise represent the views of the Company or its officers, directors, employees, agents, subsidiaries or affiliates. You agree that you shall be solely liable for any damage resulting from any User Contribution, and shall hold the Company and its officers, directors, employees, agents, subsidiaries and affiliates harmless from any liability incurred from any User Contribution that you make. </p>
<p>The Company does not endorse any User Contribution, or any opinion, recommendation, or advice expressed therein, and the Company expressly disclaims any and all liability in connection with each User Contribution, individually or collectively. The Company does not permit copyright infringing activities and infringement of intellectual property rights on the Website, and the Company will remove all content if properly notified that any User Contribution infringes on another's intellectual property rights. The Company reserves the right to remove any User Contribution without prior notice. </p>




<p><strong>DISCLAIMER OF WARRANTY </strong></p>
<p>YOU EXPRESSLY AGREE THAT USE OF AND RELIANCE ON THIS WEBSITE IS AT YOUR SOLE RISK. NEITHER THE COMPANY, NOR ANY OF ITS RESPECTIVE OFFICERS, DIRECTORS, OWNERS, EMPLOYEES, AGENTS, PARTNERS, SUBSIDIARIES, OR AFFILIATES WARRANT THAT THE WEBSITE OR USE THEREOF WILL BE UNINTERRUPTED OR ERROR FREE, NOR DO THEY MAKE ANY WARRANTY AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION, DATA, OR OTHER CONTENT DISPLAYED ON THE WEBSITE. THE WEBSITE IS MADE ACCESSIBLE ON AN “AS IS” AND “AS AVAILABLE” BASIS. WITH RESPECT TO THE WEBSITE, COMPANY HEREBY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THOSE OF DATA ACCURACY, TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE. WITH RESPECT TO ANY PRODUCTS OR SERVICES OFFERED OR OTHERWISE SOLD THROUGH THE WEBSITE, COMPANY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, BUT NOT LIMITED TO, THOSE OF DATA ACCURACY, TITLE, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. ANY PRODUCTS OR SERVICES OFFERED OR SOLD THROUGH THIS WEBSITE ARE MADE AVAILABLE ON AN “AS IS” AND “AS AVAILABLE” BASIS.</p>


<p><strong>LIMITATION OF LIABILITY</strong></p>
<p>IN NO EVENT SHALL THE COMPANY, NOR ANY OF ITS RESPECTIVE OFFICERS, DIRECTORS, OWNERS, EMPLOYEES, AGENTS, PARTNERS, SUBSIDIARIES, OR AFFILIATES, BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF OR RELATED TO YOUR USE OF THE WEBSITE, THE WEBSITE CONTENT, ANY USER CONTRIBUTION, AND OTHER INFORMATION CONTAINED THEREIN. THIS LIMITATION OF LIABILITY INCLUDES, BUT IS NOT LIMITED TO ANY CLAIMS FOR LOST REVENUE, LOST PROFITS, OR LOST DATA ARISING IN CONNECTION WITH YOUR USE OF THE WEBSITE, WHETHER OR NOT THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL THE LIABILITY OF THE COMPANY OR ANY OF ITS RESPECTIVE OFFICERS, DIRECTORS, OWNERS, EMPLOYEES, AGENTS, PARTNERS, SUBSIDIARIES, OR AFFILIATES IN CONNECTION WITH THE USE OF THIS WEBSITE AND ANY PRODUCTS OR SERVICES OFFERED OR SOLD THROUGH THIS WEBSITE EXCEED THE PRICE PAID FOR THE PRODUCT OR THE SERVICE THAT IS THE BASIS FOR THE CLAIM, IF ANY. THE LIMITATION OF LIABILITY AND EXCLUSION OF DAMAGES SHALL APPLY EVEN IF THE LIMITED REMEDIES FAIL OF THEIR ESSENTIAL PURPOSE.</p>

<p><strong>DISPUTE RESOLUTION</strong></p>
<p>By using this Website or purchasing any Product or Service through the Website or from the Company, you agree that any claim, dispute, or controversy you may have against the Company or any of its officers, directors, owners, employees, agents, subsidiaries or affiliates arising out of, relating to, or connected in any way with this Agreement, the Website, or your use of the Website, your use of the Website, or any Product or Service purchased through the Website or from the Company shall be resolved by litigation in the state or federal courts located nearest to the Company’s principal place of business. This Agreement will be governed and construed under California law without regard to its conflict of laws provisions. The parties irrevocably waive any objection to such venue, including without limitation obligations based on an inconvenient forum.</p>

<p><strong>THIRD PARTY WEBSITES</strong></p>
<p>The Website contains links to third party websites maintained by other parties. These links are provided solely as a convenience to you and not because we endorse or have an opinion about the contents on such third party websites. We expressly disclaim any representations regarding the content or accuracy of materials on such third party websites or the privacy practices of those websites. If you decide to access websites maintained by other parties, you do so at your own risk.</p>


<p><strong>INDEMNIFICATION</strong></p>
<p>You agree to defend, indemnify and hold harmless Company or any of its officers, directors, owners, employees, agents, subsidiaries and affiliates from and against any and all liability, claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising out of or related to (i) your use of and access to the Website; (ii) your violation of any term of this Agreement; (iii) your violation of any third party right, including without limitation any intellectual property or privacy right; or (iv) your use of Products or Services purchased by you through this Website.</p>

<p><strong>TERMINATION</strong></p>
<p>The Company may deny you access to this Website at any time in its sole discretion, without any prior notice to you. Without limiting the foregoing, the Company shall have the right to immediately suspend, terminate and/or delete any of your passwords or accounts in the event the Company considers, in its sole discretion, any of your conduct to be unacceptable, or in the event the Company believes that you are in breach of this Agreement. Notwithstanding the above, the terms of this Agreement shall survive any such termination or denial of access. If the Company terminates your access to the Website for any reason, you are prohibited from creating a new account on the Website in an effort to circumvent such termination. The Company reserves the right to block any IP address from accessing the Website to assist in enforcing any termination of access from the Website.</p>

<p><strong>MISCELLANEOUS TERMS</strong></p>
<p>This Agreement constitutes the entire agreement between you and the Company regarding use of the Website. The failure of the Company to exercise or enforce any right or remedy provided under this Agreement shall not constitute a waiver of any such right or remedy. The section headings used herein are for convenience only and shall be of no legal force or effect. The provisions of this Agreement apply equally to and are for the benefit of the Company, its officers, directors, employees, agents, subsidiaries, affiliates, and its third-party content providers and licensors, and each shall have the right to assert and enforce such provisions directly or on its own behalf. The parties intend and expect this Agreement to be enforced to the fullest extent permitted by law. If any term, clause or part of this Agreement shall be determined by any arbitration panel or court of competent jurisdiction to be illegal, invalid or unenforceable, the remainder of this Agreement will continue in full force and effect.  Moreover, if any provision contained in this Agreement shall be held to be excessively broad or unenforceable, such provision shall be construed as limiting and reducing it so as to be enforceable to the maximum extent allowed by law.</p>

		</div>
	</div>

		</div> 
	</div> 
</div></div>

		
		
			</div> <!-- end content -->

	
</div> <!-- end page-wrap -->
	
		
<%- include Footer.ejs %>